.panel {
	float: left;
	margin-right: 3em;
}

.tooltip {
	display:none;
	position: absolute;
	left: 550px;

	background: #e0e0e0;
	padding: 2px;
}

:hover > * > .tooltip {
	display:block;
}

th, td {
	text-align: right;
}

tr:hover {
	background: #e0e0e0;
}

table.table > tbody > tr > th,
table.table > tbody > tr > td {
	padding-left: .3em;
	padding-right: .3em;
}