<ng-template #generalHelp>
  <p>
    Welcome to the accounting department!
  </p>

  <p>
    Your accountants identify promising investments by assigning a price to every resource, 
    using these prices to calculate the costs and benefits of available investments.
  </p>

  <p>
    To learn more about the individual accounting tables, hover your paw over them.
  </p>

  <p>Alas, your accountants are not omniscient. In particular, they do not consider:</p>
  <ul>
    <li>science storage</li>
    <li>synergies from buying science or storage</li>
    <li>benefits provided by your leader</li>
    <li>unicorn religion beyond sun spires</li>
    <li>metaphysics beyond early price reduction upgrades</li>
    <li>investment opportunities beyond yarn</li>
  </ul>
</ng-template>
  
<div style="display: flex; flex-flow: column; position: absolute; left: 0; right: 0; top: 0; bottom: 0" [help]="generalHelp">
  <div style="flex: 1 1 0; display: flex; flex-flow: row; min-height: 0; position: relative">
    <div style="position: absolute; left: 0; bottom: 0; background: white; padding: 0.5em">
      <a (click)="showHelp = !showHelp" style="display: block; text-decoration: underline; color:blueviolet; cursor: pointer">{{showHelp ? 'Hide' : 'Show'}} Help</a>
      <a (click)="showGame = !showGame" style="display: block; text-decoration: underline; color:blueviolet; cursor: pointer">{{showGame ? 'Hide' : 'Show'}} Game</a>
    </div>

    <div style="flex: none; overflow-y: auto; transition: all 0.2s ease; overflow-x: hidden" [style.width]="showHelp ? '30em' : '0'">
      <div style="width: 30em">
        <panel heading="Help">
          <ng-container [ngTemplateOutlet]="helpService.topic"></ng-container>
        </panel>
      </div>
    </div>

    <div style="flex: 1 1 auto; display: flex; flex-flow: row wrap; justify-content: space-evenly; overflow-y: auto">
      <panel heading="Jobs" [help]="jobHelp">
        <ng-template #jobHelp>
          <p>The Jobs table allows you to edit work assignments</p>
          <p>Click a job to assign a kitten, right-click to unassign (unassigned kittens are assumed to be farmers).</p>              
        </ng-template>

        <table class="table">
          <tbody>
            <tr *ngFor="let j of jobNames" (click)="addWorker(j, 1)" (contextmenu)="addWorker(j, -1)">
              <td>{{workers[j]}}</td>
              <td style="text-align: left">{{j}}</td>
            </tr>
          </tbody>
        </table>
      </panel>
      
      <panel heading="Production" [help]="productionHelp">
        <ng-template #productionHelp>
          <p>The production table shows resource production and prices</p>

          <p>The columns mean, in order:</p>
          <ul>
            <li>conversion activity slider (for converted resources)</li>
            <li>estimated net production per second (not including resources spent in conversion)</li>
            <li>the name of the resource</li>
            <li>the current price for that resource<br>(left-click to increase, right-click to decrease)</li> 
            <li>whether this rare resource is available</li>
          </ul>

          <p>
            For resources produced by workers, your accountants automatically determine the price based on worker productivity 
            (each worker earns 1 per second; if a woodcutter cuts 0.2 wood per second, the wood price is set to 1/0.2 = 5).
            The price of coal is determined by the productivity of your geologists, but may be reduced manually in case you 
            don't have geologists yet. Likewise, faith price may be reduced if you don't have priests.
          </p>
          
          <p>
            For resources created through a conversion process, you can inspect conversion costs and benefits by hovering your paw over the resource.
          </p>

          <p>
            For resources converted on command (crafting, trading, or similar activities), your accountants suggest a resource price
            based on the cost of raw materials and other outputs. You may adjust this price if you obtain them from a different source 
            (such as getting blueprints by trading rather than crafting them).           
            For resources converted on command, the conversion activitiy slider sets the proportion of raw materials converted. 
            For instance, for fur, it sets the proportion of catpower spent hunting
            (your accountants need to know this value so they can calculate the benefit of conversion upgrades such as hunting armor).
          </p>

          <p>
            You can indicate the availability of fur, ivory, and unicorns by clicking the right-most column.
            If you hover your paw over that indicator, you can see the benefit and cost of making these resources available for consumption.
          </p>
        </ng-template>

        <table class="table">
          <tbody>
            <tr *ngFor="let r of resourceNames" [cba-tooltip]="r == 'fur' ? furReport : conversions[r]">
              <td>
                <input *ngIf="conversions[r] && r !='iron'" [(ngModel)]="state.conversionProportion[r]" (ngModelChange)="update()" 
                  type="range" min="0" max="1" step="0.1">
              </td>
              <td>
                {{production[r] | number:'1.2-2'}}
              </td>
              <td style="text-align:left">{{r}}</td>
              <td>@</td>
              <td (click)="increasePrice(r,1)" (contextmenu)="increasePrice(r, -1)">
                {{price[r] | number:'1.2-2'}}
              </td>
              <td *ngIf="r == 'fur' || r == 'ivory' || r =='unicorn' || r == 'alicorn'; else conversionBlock" (click)="toggleLuxury(r, $event)" (contextmenu)="toggleLuxury(r, $event)" style="width: 1em; text-align: center">
                  {{luxury[r] ? 'A' : ''}}
              </td>
              <ng-template #conversionBlock>
                <td style="width: 1em"></td>
              </ng-template>
            </tr>
          </tbody>
          <tbody>
            <tr>
              <td></td><td><input type="number" step="0.01" min="0" [(ngModel)]="state.ships" (ngModelChange)="update()" style="width: 6ch"></td><td style="text-align: left">ships</td>
            </tr>
            <tr>
              <td></td><td><input type="number" step="1" min="0" [(ngModel)]="state.leviathanEnergy" (ngModelChange)="update()" style="width: 6ch"></td><td style="text-align: left" colspan="4">leviathan energy</td>
            </tr>
          </tbody>
        </table>
      </panel>
      
      <panel heading="Buildings and Upgrades" [help]="buildingHelp">
        <ng-template #buildingHelp>
          <p>
            This table shows all currently available investment opportunities, in other of efficiency. 
          </p>
          <p>
            The columns mean:
          </p>
          <ul>
            <li>break even point = number of seconds until the investment has paid for itself</li>
            <li>Name of the investment</li>
            <li>level of the investement (or R for a researched upgrade)</li>
          </ul>
          <p>
            Investments in <span style="color:gray">gray</span> require additional research not included in the efficiency assessment.
          </p>
          <p>
            Hover your paw over an investment to see a breakdown of investment cost and benefits.
          </p>
          <p>
            Left click to implement an investment, right click to undo, or click the level to edit the value directly.
          </p>
          <p>
            Note that the benefit of price reduction upgrades is currently estimated at 0, as they have no effect on ongoing production.
          </p>
        </ng-template>

        <table class="table">
          <tbody>
            <tr *ngFor="let a of actions; trackBy: sameName" (click)="apply(a, $event)" (contextmenu)="apply(a, $event)" [cba-tooltip]="a" [class.locked]="a.investment.alsoRequiredCost">
              <td>{{a.roi | number:'1.0-0'}}</td>
              <td>
                {{a.name}}
              </td>
              <td>
                <input type="number" [(ngModel)]="a.stateInfo" (ngModelChange)="updateRequest.emit()" (click)="$event.stopPropagation()" style="width: 3ch" *ngIf="numeric(a.stateInfo)">
                <span [innerText]="a.stateInfo" *ngIf="!numeric(a.stateInfo)"></span>
              </td>
            </tr>
          </tbody>
        </table>
        <label style="margin-top: 3em">
          <input type="checkbox" [(ngModel)]="state.showResearchedUpgrades" (ngModelChange)="update()">
          show researched
        </label>
      </panel>
      
      <panel heading="Storage" [help]="storageHelp">
        <ng-template #storageHelp>
          <p>
            This table shows investment opportunities for increasing storage. It works much like the ordinary investment table, 
            except that a break even can not be calculated. Instead, the cost of storage extensions is added to investments that require it.
          </p>
          <p>
            Note that buildings that also have other effects are not yet listed here, because it would be unclear to what extend their cost 
            is already paid for by their other effects. As a result, your accountants assume that science storage is unlimited, and don't suggest 
            building oil wells to increase oil storage.
          </p>
        </ng-template>

        <table class="table">
          <tbody>
            <tr *ngFor="let a of storageActions; trackBy: sameName" (click)="apply(a, $event)" (contextmenu)="apply(a, $event)" [cba-tooltip]="a">
              <td>{{a.name}}</td>
              <td>
                <input type="number" [(ngModel)]="a.stateInfo" (ngModelChange)="update()" (click)="$event.stopPropagation()" style="width: 3ch" *ngIf="numeric(a.stateInfo)">
                <span [innerText]="a.stateInfo" *ngIf="!numeric(a.stateInfo)"></span>
              </td>
            </tr>  
          </tbody>
        </table>
      </panel>
      
      <panel heading="Science" [help]="scienceHelp">
        <ng-template #scienceHelp>
          <p>
            This table shows investments into technology and metaphysics. As Science has no value on its own, its cost is added to the investments that benefit from it, and considered when calculating their efficiency.
          </p>

          <p>
            Exception: efficiency is not updated for buildings, because we do not know how many buildings to amortize over. 
            We still show science cost in the respective tooltip, though.
          </p>

          <p>
            Note that the benefit of price reduction upgrades is estimated at 0, as they have no effect on ongoing production.
          </p>          
        </ng-template>

        <table class="table">
          <tbody>
            <tr *ngFor="let s of sciences" (click)="apply(s, $event)" (contextmenu)="apply(s, $event)" [cba-tooltip]="s">
              <td>{{s.name}}</td>
              <td>{{s.stateInfo}}</td>
            </tr>
            <tr style="height: 0.5em"></tr>
            <tr *ngFor="let a of metaphysicActions" (click)="apply(a, $event)" (contextmenu)="apply(a, $event)" [cba-tooltip]="a">
              <td>{{a.name}}</td>
              <td>
                {{a.stateInfo}}
              </td>
            </tr>  
          </tbody>
        </table>
      </panel>
      
      <panel heading="Religion" [help]="religionHelp">
        <ng-template #religionHelp>
          <p>This table shows religion bonuses (religous investments are under "Building and Upgrades")</p>
        </ng-template>

        <table class="table">
          <tbody>
            <tr>
                <td style="text-align: left"><input type="number" min="0" [(ngModel)]="state.faith.stored" (ngModelChange)="update()" style="width: 10ch"></td>
                <td style="text-align: left">total faith</td>
            </tr>
            <tr>
              <td>+{{(faithBonus - 1) * 100 | number:'1.2-2'}} %</td>
              <td style="text-align: left">bonus</td>
            </tr>
            <tr>
              <td><input type="number" min="0" step="0.01" [(ngModel)]="state.faith.apocryphaBonus" (ngModelChange)="update()" style="width: 6ch"> %</td>
              <td style="text-align: left">praise bonus</td>
            </tr>
          </tbody>
        </table>
      </panel>
      
      <panel heading="Time" [help]="timeHelp">
        <ng-template #timeHelp>
          <p>This table shows prestige bonuses obtained by resetting the game, and the link to implement a reset.</p>
        </ng-template>

        <table class="table">
          <tbody>
            <tr>
              <td><input type="number" step="0.01" min="0" [(ngModel)]="state.karma" (ngModelChange)="update()" style="width: 4ch"></td><td style="text-align: left">karma</td>
            </tr>
            <tr>
              <td><input type="number" step="1" min="0" [(ngModel)]="state.paragon" (ngModelChange)="update()" style="width: 4ch"></td><td style="text-align: left">paragon</td>
            </tr>
          </tbody>
        </table>
        <a href="" style="margin-top: .2em; display: block; text-align: center" (click)="forget()">Reset</a>
      </panel>
        
      <panel heading="Notes" [help]="noteHelp" style="flex-grow: 1">
        <ng-template #noteHelp>
          This area is for taking notes about your current game.
        </ng-template>
        <textarea [(ngModel)]="state.notes" (ngModelChange)="saveGameState()" rows="10" style="box-sizing: border-box; width: 100%; font-size: 1em"></textarea>
      </panel>
      
      <cost-benefit-analysis [cba]="cbaTooltip.cba" *ngIf="cbaTooltip.cba" style="position: fixed; z-index: 1; background: #e0e0e0; padding: .3em;" [style.left]="cbaTooltip.left + 'px'" [style.top]="cbaTooltip.top + 'px'"></cost-benefit-analysis>
    </div>
  </div>

  <iframe *ngIf="showGame" src="http://bloodrizer.ru/games/kittens/#" style="border: none; flex-shrink: 0; flex-grow: 0" [style.flex-basis]="showGame ? '60%' : 0">
  </iframe> 
</div>
